body{
	margin: 0;
	padding: 0;
	background-color: lightgrey;
}
.container{
	margin: 0 auto;
	width: 90%;
}
.logo, .nav, .banner, .sidebar, .bodyspace{
	height: 100px;
	background-color: gray;
}
h1{
	font-size: 22px;
	margin: 0;
	text-align: center;
	padding-top: 34px;
}
.nav{
	margin: 15px 0;
	height: 70px;
}
.nav h1{
	padding-top: 20px;
}
.banner{
	height: 400px;
}
.banner h1{
	padding-top: 200px;
}

.main{
	overflow: hidden;
	margin: 15px 0;
}
.sidebar{
	width: 20%;
	float: left;
	height: 600px;
}
.sidebar h1{
	padding: 300px 0;
}
.bodyspace{
	width: 78%;
	float: right;
	height: 600px;
}
.bodyspace h1{
	padding: 300px 0;
}





